/*Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	font-family: 'Lekton', sans-serif;
	background: #fff;	
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
	margin:0;	
}
.header-left{
	background: #F1DB26;
	float: left;
	width:100%;
	padding:3em 8em 3em 3em;
	min-height: 539px;
}
.header-left-top {
	padding: 4em 0em 10.2em 7em;
}
.header-right{
	background: #C4BDAB;
	float: right;
	width:50%;
	margin: 0 auto;
	min-height:539px;
}
.header-left-top h1{
	font-size: 2.3em;
	font-weight: 400;
	color: #4eabab;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}
.header-left-top h1 span{
	display: block;
}
/*--- Navigation---*/
.box{
	position:absolute;
	top:-1200px;
	width:100%;
	color:#7F7F7F;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:right;
	left:0;
	background:rgba(96, 212, 212, 0.36);
}
a.boxclose{
	cursor: pointer;
	text-align: center;
	display: block;
	position: absolute;
	top: 46px;
	right: 248px;
}
.menu_box_list {
	text-align:center;
}
.menu_box_list ul li {
	display:inline-block;
}
.menu_box_list li a{
	color: #fff;
	font-size: 1.2em;
	display: block;
	padding:0.5em 1em;
	text-decoration:none;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	letter-spacing: 0.1em;
}
.menu_box_list li a:hover,.menu_box_list ul li.active a{
	color:#333333;
}
.menu_box_list ul {
	padding:50px;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
	padding-right:10px;
}
/*----*/
.in-header{
	float:left;
}
ul.social-in li{
	display: inline-block;	
}
ul.social-in li a i{
	background: url(../images/img-sprite.png)no-repeat -10px -19px;
	width: 18px;
	height: 18px;
	display: inline-block;
	padding:0 0.6em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul.social-in li a i.twitter{
	background-position: -35px -19px;
}
ul.social-in li a i.gmail{
	background-position: -61px -19px;
}
ul.social-in li a i.linked{
	background-position: -89px -19px;
}
ul.social-in li a i.box{
	background-position: -118px -19px;
}
ul.social-in li a i.dribble{
	background-position: -147px -20px;
}
ul.social-in li a i.tin{
	background-position: -174px -21px;
}
ul.social-in li a i:hover{
	background-position: -10px -67px;
}
ul.social-in li a i.twitter:hover{
	background-position: -35px -67px;
}
ul.social-in li a i.gmail:hover{
	background-position: -61px -67px;
}
ul.social-in li a i.linked:hover{
	background-position: -89px -67px;
}
ul.social-in li a i.box:hover{
	background-position: -118px -67px;
}
ul.social-in li a i.dribble:hover{
	background-position: -147px -69px;
}
ul.social-in li a i.tin:hover{
	background-position: -174px -69px;
}
span.phone{
	font-size: 1.1em;
	color: #5AD4D5;
	float:right;
	font-weight: 700;
}
span.phone a{
	background: url(../images/img-sprite.png)no-repeat -201px -19px;
	width: 20px;
	height: 18px;
	display: inline-block;
	vertical-align:text-top;
} 
.header-right-top h6{
	font-size: 1.4em;
	color: #848484;
	padding-bottom: 0.5em;
}
.header-right-top p{
	font-size: 1.1em;
	color: #fff;
	padding-bottom: 0.5em;
}
.header-right-top p span{
	color: #fdeecf;
}
.header-right img{
	margin: 0 auto;
}
a.view{
	text-decoration: none;
	font-size: 1em;
	color: #fff;
	padding: 0.5em;
	border: 1px solid #848484;
	width: 27%;
	display: block;
	margin: 1em  3em 0;
	text-align: center;
}
a.view:hover{
	background:#fff;
	color:#4eabab;
	border:1px solid #fff;
}
.header-right-top {
	padding: 7em 0em 3em 20em;
}
/*----*/
.about-top{
	text-align: center;
	padding: 10em 0;
}
.about-top h3{
	font-size: 2.5em;
	color:#303030;
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
}
.about-top p{
	font-size: 1.3em;
	color: #303030;
	line-height: 1.3em;
	width: 70%;
	margin: 3em auto 0;
}
.about-in h4{
	font-size: 1em;
	color:#000;
	font-weight: 700;
	text-transform: uppercase;
}
.about {
	padding: 0 0 10em;
}
.about-in h4 label{
	background: #58D5DB;
	width: 5px;
	height: 15px;
	display: inline-block;
	vertical-align: sub;
}
.about-in p{
	font-size: 1.1em;
	color: #303030;
	line-height: 1.2em;
	font-weight: 100;
	padding: 0.7em 0 0;
}
.designer-top{
	padding: 0;
	background: url(../images/me1A.png) no-repeat right;
	width:25%;
	float:left;
	min-height: 100%;
	display: inline-block;
	padding: 20em 2em 6em;
}
.designer-top h4{
	font-size: 2.2em;
	color:#60d4d4;
	text-transform:uppercase;
	font-weight:700;
}
.designer-top span{
	font-size: 1.5em;
	color:#000;
	text-transform:uppercase;
	font-weight:700;
}
.designer-top p{
	font-size: 1em;
	color:#000;
	line-height:1.2em;
}
ul.social-bottom li{
	display: inline-block;	
}
ul.social-bottom li a i{
	background: url(../images/img-sprite.png)no-repeat -10px -67px;
	width: 18px;
	height: 18px;
	display: inline-block;
	padding:0 0.6em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul.social-bottom li a i.twitter{
	background-position: -35px -67px;
}
ul.social-bottom li a i.gmail{
	background-position: -61px -68px;
}
ul.social-bottom li a i.linked{
	background-position: -89px -67px;
}
ul.social-bottom li a i.box{
	background-position: -118px -67px;
}
ul.social-bottom li a i.dribble{
	background-position: -147px -69px;
}
ul.social-bottom li a i.tin{
	background-position: -174px -69px;
}
ul.social-bottom li a i:hover{
	background-position: -10px -19px;
}
ul.social-bottom li a i.twitter:hover{
	background-position: -35px -19px;
}
ul.social-bottom li a i.gmail:hover{
	background-position: -61px -19px;
}
ul.social-bottom li a i.linked:hover{
	background-position: -89px -19px;
}
ul.social-bottom li a i.box:hover{
	background-position: -118px -19px;
}
ul.social-bottom li a i.dribble:hover{
	background-position: -147px -20px;
}
ul.social-bottom li a i.tin:hover{
	background-position: -174px -20px;
}
ul.social-bottom {
	padding: 1em 0 0;
}
.designer-in{
	background: no-repeat left;
	text-align:right;
}
.designer-in-top{
	background:url(../images/me2A.png) no-repeat right;
	
}
.designer-in-on{
	background: no-repeat left;
	text-align:right;
}
/*----*/
.process{
	text-align: center;
	background: #F7F7F7;
	padding:10em 0;
}
.process-top h3{
	font-size: 2.5em;
	color:#303030;
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
}
.process-top p{
	font-size: 1.3em;
	color: #303030;
	line-height: 1.3em;
	width: 70%;
	margin: 3em auto 0;
}
.process-in h4{
	font-size: 1.2em;
	color:#000;
	font-weight: 700;
	text-transform: uppercase;
	padding:0.7em 0;
}
.process-in p{
	font-size: 1em;
	color:#000;
	line-height: 1.5em;
	font-weight:100;
	padding:0.5em 0;
}
.process-bottom {
	padding: 8em 0 0;
}
/*--portfolio-grid--*/
.portfolio-grid{
	padding:10em 0 ;
}
ul#filters {
	padding: 0px;
}
#filters {
	margin: 1.5em 0 3em;
	padding: 0;
	list-style: none;
	text-align: center;
}
#filters li {
	display:inline-block;
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -o-inline-box;
	display: -ms-inline-box;
}
#filters li label {
	padding: 0.6em 0.1em;
	font-size: 1em;
	color:#303030;
}
#filters li span {
	display: block;
	padding: 8px;
	text-decoration: none;
	color: #303030;
	cursor: pointer;
	font-size: 18px;
	text-transform: uppercase;
}
#portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 33.33%;
		display: none;
		float: left;
		overflow: hidden;
}
div#portfoliolist {
	padding: 0px 0px;
}	
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;	
	
}

.portfolio img {
	max-width:100%;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
}
.portfolio .label-bg {
	background: #22B4B8;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.portfolio .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
}		
.portfolio .text-category {
	display:block;
	font-size:9px;
	font-size: 12px;
	text-transform:uppercase;
}
.simple {
	padding: 15em 0 0 7em;
	background: #f0d93e;
	width:100%;
	height: 100%;
	position: absolute;
	top: 0;
	display:none;
}
.simple-out{
	padding:6em 0 0 7em;
}
span.in-view{
	color:#60d4d4;
	font-size: 1.2em;
	width: 28%;
	margin: 3em 6em;
	padding: 0.3em;
	font-size: 1em;
	border: 1px solid #848484;
	display: block;
	margin: 1em  3em 0;
	text-align: center;
}
span.in-view:hover{
	background:#fff;
	color:#4eabab;
	border:1px solid #fff;
}
.simple p {
	font-size: 1.2em;
	color: #60d4d4;
}
.simple p b {
	color: #000;
}
.portfolio-wrapper:hover .simple{
	display:block;
}
.portfolio-grid h3{
	font-size: 2.5em;
	color:#303030;
	text-align:center;
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
}
/*----*/
.start{
	text-align: center;
	background: #F7F7F7;
	padding:5em 0 8em;
}
.start-top h3{
	font-size: 2.5em;
	color:#60d4d4;
	padding:0 0 2em;
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
}
.start-in span {
	display: block;
	font-size: 1.4em;
	padding: 1.5em 0 0;
	font-family: 'Oswald', sans-serif;
	color:#60d4d4;
	font-weight:100;
}
/*---*/
.blog{
	padding:10em 0;
}
.blog-top h3{
	font-size: 2.5em;
	color:#303030;
	text-align:center;
	font-family: 'Oswald', sans-serif;
	font-weight:100;
	padding:0 0 3em;
}
.blog-in h5{
	font-size: 1.3em;
	color:#000;
	padding:1em 0;
	font-weight: 600;
}
.blog-in h5 a{
	text-decoration:none;
}
.blog-in p{
	font-size: 1.1em;
	color:#303030;
	line-height:1.3em;
}
.bottom-blog {
	padding: 0.5em 0 0;
}
span.john{
	float:left;
	color:#60d4d4;
	font-size:1.1em;
}
a.more-read{
	float:right;
	color:#fe0000;
	font-size:1.1em;
	text-decoration:none;
}
a.more-read:hover{
	color:#60d4d4;
}
/*----*/
.bottom-content{
	background:#F7F7F7;
	padding: 7em 0 3em;
}
/*----*/
.twit {
	padding: 10em 0;
	text-align:center;
}
.twit p{
	color: #686868;
	font-size: 1.7em;
	line-height: 1.5em;
	text-align: left;
	font-style: italic;
	width: 56%;
	margin: 0 auto;
	padding:1.5em 0 0;
}
.twit p a{
	color:#60d4d4;
	text-decoration:none;
}
.twit p a:hover{
	color: #686868;
}
.twit small{
	color:#f48258;
	font-size:1.3em;
	text-align: left;
	display: block;
	margin-left: 22%;
}
.twit small:before{
	background: #eee;
	width: 55px;
	height: 1px;
	display: inline-block;
	content: "";
	vertical-align: middle;
}
.twit small:after{
	background: #eee;
	width: 200px;
	height: 1px;
	display: inline-block;
	content: "";
	vertical-align: middle;
}
 /*----*/
.contact-left{
	background:#c9c3b3;
	padding:7.1em 8em;
	float:left;
	width:50%;
	min-height:529px;
}
.contact-left h3{
	font-size: 1.8em;
	color:#646250;
}
.contact-left p{
	font-size:1em;
	color:#646250;
	line-height:1.3em;
	text-transform:uppercase;
	padding:0.5em 0 0;
}
.contact-left input[type="text"],.contact-left textarea,.send-in input[type="submit"] {
	width: 90%;
	padding:0em 0.2em;
	outline: none;
	color: #a6a385;
	font-size: 1.1em;
	background:none;
	border-bottom:1px solid #74725c;
	border-top:none;
	border-left:none;
	border-right:none;
	margin: 1em 0;
}
.contact-left textarea{
	resize:none;
	height: 21px;
	overflow: hidden;
	margin: 1.5em 0;
}
.contact-left form {
	padding: 0em 3em;
}
.send-in input[type="submit"]{
	border:none;
	color: #fff;
	padding: 0.5em;
	border: 1px solid #848484;
	width: 50%;
	display: block;
	margin: 1em auto 0;
	text-align: center;
	width:20%;
}
.send-in input[type="submit"]:hover{
	background:#fff;
	color:#4eabab;
	border:1px solid #fff;
}
.contact-right{
	background:#f0d93e;
	width:50%;
	float:right;
	padding: 6.49em 10em;
	min-height:529px;
}
.logo-bottom{
	float:left;
}
.phone-in{
	float:right;
}
.phone-in p{
	color:#000;
	font-size:1.1em;
}
.logo-bottom h2{
	font-size: 2.3em;
	font-weight: 400;
	color: #4eabab;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}
.bottom-social{
	text-align:center;
	padding: 4em 0;
}
 p.footer-grid{
	font-size: 1.2em;
	color: #440f0a;
	line-height: 1.5em;
	padding: 0.5em 0;
}
 p.footer-grid a{
	text-decoration:none;
	color:#fff;
}
 p.footer-grid a:hover{
	color:#440f0a;
}
.phone-in a{
	text-decoration:none;
	text-transform:uppercase;
	color:#60d4d4;
	font-size:1.1em;
}
.phone-in a:hover{
	color:#000;
}
p.number{
	padding:1em 0 0;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 25px;
	right: 10px;
	overflow: hidden;
	width: 52px;
	height: 52px;
	border: none;
	text-indent: 100%;
	background: url('../images/up.png') no-repeat 0px 0px;
}
/*--responsive--*/
@media(max-width:1440px){
.header-right-top {
	padding: 7em 0em 3em 17em;
}
}
@media(max-width:1366px){
.header-right-top {
	padding: 7em 0em 3em 16em;
}
.simple {
	padding: 13em 0 0 5em
}
.simple-out {
	padding: 5em 0 0 5em;
}
}
@media(max-width:1280px){
.header-right-top {
	padding: 7em 0em 3em 14em;
}
.header-left-top {
	padding: 4em 0em 10.2em 4em;
}
.simple-out {
	padding: 4em 0 0 5em;
}
.contact-right {
	padding: 6.49em 6em;
}
.contact-left {
	padding: 7.1em 6em;
}
a.boxclose {
	top: 37px;
	right: 150px;
}
}
@media(max-width:1024px){
.header-left-top h1 {
	font-size: 1.8em;
}
.header-left-top {
	padding: 4em 0em 10.2em 1.5em;
}
.header-right-top {
	padding: 7em 0em 3em 11em;
}
.about-in h4 {
	font-size: 0.86em;
}
.designer-top span {
	font-size: 1.2em;
}
.designer-top {
	padding: 16em 2em 3em;
}
.simple {
	padding: 10em 0 0 2em;
}
.simple-out {
	padding: 2em 0 0 2em;
}
.contact-right {
	padding: 6.49em 3em;
}
.contact-left {
	padding: 7.1em 2em;
}
.menu_box_list li a {
	padding: 0.5em;
}
.menu_box_list ul {
	padding: 40px;
}
}
@media(max-width:768px){
.header-left {
	padding: 3em 2em;
	min-height: 458px;
}
.header-left-top {
	padding: 3em 0em 8em 0.5em;
}
.header-right-top {
	padding: 7em 0em 2.3em 6em;
}
.header-left-top h1 {
	font-size: 1.5em;
}
.header-right img {
	width: 65%;
}
.header-right {
	min-height: 458px;
}
.about-top {
	padding: 7em 0;
}
.about-top p {
	width: 80%;
}
.about-in h4 {
	font-size: 1.2em;
}
.about-in {
	padding: 1em 0;
}
.about {
	padding: 0 0 6em;
}
.about-top {
	padding: 4em 0;
}
.designer-top {
	width: 50%;
}
.process {
	padding: 7em 0;
}
.process-bottom {
	padding: 5em 0 0;
}
.simple {
	padding: 7em 0 0 2em;
}
span.in-view {
	margin: 1em 2em;
}
.simple-out {
	padding: 1.3em 0 0 2em;
}
.portfolio-grid {
	padding: 7em 0;
}
.start-top h3 {
	padding: 0 0 0.8em;
}
.start-in span {
	padding: 0.5em 0 0;
}
.start-in {
	padding: 1em 0;
	float: left;
	width: 33.33%;
}
.start {
	padding: 3em 0 4em;
}
.blog {
	padding: 7em 0;
}
.blog-top h3 {
	padding: 0 0 1em;
}
.blog-in {
	padding: 1em 0;
}
.twit {
	padding: 7em 0;
	text-align: center;
}
.twit p {
	width: 84%;
}
.logo-bottom h2 {
	font-size: 1.5em;
}
.contact-left {
	padding: 4.6em 2em;
	min-height: 497px;
}
.contact-right {
	padding: 5em 2em;
	min-height:497px;
}
.send-in input[type="submit"] {
	width: 50%;
}
p.footer-grid {
	font-size: 1em;
}
.menu_box_list ul {
	padding: 39px;
}
a.boxclose {
	top: 26px;
	right: 60px;
}
.menu_box_list {
	margin-right: 10em;
}
}
@media(max-width:640px){
.menu_box_list {
	margin-right: 6em;
}
a.boxclose {
	top: 27px;
	right: 37px;
}
.header-left {
	padding: 2em 1em;
	min-height: 416px;
}
.header-left-top {
	padding: 3em 0em 4em 0.5em;
}
.in-header,span.phone {
	float: none;
}
.header-right {
	min-height: 413px;
}
.header-right-top {
	padding: 7em 0em 1.3em 5em;
}
.about-top p {
	margin:1em auto 0;
	height: 95px;
	overflow: hidden;
}
.about {
	padding: 0 0 4em;
}
.process-top p {
	width: 80%;
	margin: 1em auto 0;
	height: 71px;
	overflow: hidden;
}
.process-bottom {
	padding: 3em 0 0;
}
.process {
	padding: 5em 0;
}
.blog {
	padding: 5em 0;
}
.contact-left {
	padding:4.6em 2em;
	min-height: 444px;
}
.contact-left p {
	height: 37px;
	overflow: hidden;
}
.contact-left form {
	padding: 0em 1em;
}
.contact-right {
	padding: 4em 2em;
	min-height: 444px;
}
.logo-bottom h2 {
	font-size: 1em;
}
.phone p {
	font-size: 1em;
}
.bottom-social {
	padding: 3em 0;
}
.twit p {
	font-size: 1.5em;
}
.twit small {
	margin-left: 7%;
}
.simple {
	padding: 5em 0 0 2.5em;
}
span.in-view {
	margin:1em;
	font-size: 1em;
	width: 46%;
}
.simple p {
font-size: 1em;
}
.simple-out {
padding: 1em 0 0 2.5em;
}
#portfoliolist .portfolio {
width: 33.3%;
}
.portfolio-grid {
	padding: 5em 0;
}
.menu_box_list ul {
	padding: 22px;
}
}
@media(max-width:480px){
.header-left-top h1 {
	font-size: 1.1em;
}
.header-left-top {
	padding: 2em 0em 3em 0em;
}
.header-right-top h6 {
	font-size: 1.2em;
}
.header-right-top p {
	font-size: 1em;
}
a.view {
	padding: 0.3em;
	width: 45%;
}
.header-right {
		min-height: 349px;
}
.header-left {
	min-height: 349px;
}
.header-right-top {
	padding: 5.8em 0em 1.3em 2em;
}
.about-top h3,.process-top h3 ,.portfolio-grid h3,.start-top h3,.blog-top h3{
	font-size: 1.8em;
}
.about-top p {
	font-size: 1.1em;
	height:57px;
}
.about-top {
	padding: 3em 0 2em;
}
.designer-top h4 {
	font-size: 1.7em;
}
.designer-top span {
	font-size: 1em;
}
.designer-top p {
	height: 50px;
	overflow: hidden;
}
.process-top p {
	font-size: 1.1em;
	height:39px;
}
.process-bottom {
	padding: 1em 0 0;
}
.process {
		padding: 3em 0;
}
.portfolio-grid {
	padding: 4em 0;
}
#filters li span {
	font-size: 15px;
}
.bottom-content {
	padding: 4em 0 3em;
}
.twit p {
	font-size: 1.3em;
}
.twit {
	padding: 5em 0;
	text-align: center;
}
.blog {
	padding: 3em 0;
}
.contact-left h3{
	font-size:1.5em;
}
.contact-left {
	padding: 4.6em 1em;
	min-height: 444px;
}
.contact-left p {
	height: 41px;
}
.contact-left form {
	padding: 0em 0em;
}
.contact-left input[type="text"] {
	margin: 0.5em 0;
}
.contact-left textarea {
	margin: 1em 0;
}
.contact-right {
	padding: 2.9em 1em;
	min-height: 360px;
}
.contact-left {
	padding: 3.6em 1em;
	min-height: 360px;
}
.phone-in {
	display: none;
}
.designer-top {
	padding: 8em 2em 3em;
}
.menu_box_list ul {
	text-align: center;
}
#portfoliolist .portfolio {
	width: 50%;
}
.simple {
	padding: 7em 0 0 3.5em;
}
.simple-out{
	padding: 1.5em 0 0 3.5em;
}
#filters {
	margin: 1.5em 0;
}
a.boxclose {
	top: 14px;
	right: 37px;
}
.menu_box_list ul li {
	display: block;
}
}
@media(max-width:320px){
.header-left-top h1 span {
	display: none;
}
.header-left-top h1 {
	font-size: 1em;
}
.header-left {
	min-height: 297px;
	float:none;
	width:100%;
}
.header-left-top {
	padding: 1.5em 0em 2em 0em;
}
.header-right{
	float:none;
	width:100%;
	min-height: 338px;
}
.header-right-top {
	padding: 3em 0em 1.3em 4em;
}
.about-top h3, .process-top h3, .portfolio-grid h3, .start-top h3, .blog-top h3 {
	font-size: 1.5em;
}
.about-top {
	padding: 2em 0 1em;
}
.about-top p {
	font-size: 1em;
	line-height: 1em;
	height: 42px;
}
.about-in h4 {
	font-size: 1em;
}
.about-in p {
	height: 39px;
	overflow: hidden;
	font-size:1em;
}
.about-in {
	padding: 0.5em 0;
}
.about {
	padding: 0 0 2em;
}
.process-top p {
		font-size: 1em;
}
.process-bottom {
	padding: 0.5em 0 0;
}
.process-in h4 {
	font-size: 1.1em;
	padding: 0.2em 0;
}
.process-in p {
	height: 52px;
	overflow: hidden;
}
.process {
	padding: 2em 0;
}
.start-in span {
	font-size: 1.2em;
}
.start {
	padding: 2em 0;
}
.blog-in h5 {
	font-size: 1em;
	padding:0.5em 0;
}
.blog-in p {
	height: 39px;
	overflow: hidden;
	font-size:1em;
}
.blog-in {
	padding: 0.5em 0;
}
.blog {
	padding: 2em 0;
}
.twit p {
	font-size: 1em;
}
.twit small:before {
	width: 37px;
}
.twit small:after {
	width: 100px;
}
.twit {
	padding: 3em 0;
}
.contact-left {
	float: none;
	width: 100%;
	padding: 2em 1em;
	min-height: 319px;
}
.contact-right {
	width: 100%;
	float: none;
	padding: 2em 1em;
	min-height: 258px;
}
.send-in input[type="submit"] {
	width: 33%;
	padding:0.3em;
}
.bottom-social {
	padding: 2em 0 1em;
}
.bottom-content {
	padding: 2em 0;
}
p.footer-grid {
	font-size: 0.85em;
}
.designer-top {
	padding: 3em 1em 2em;
}
.designer-top h4 {
	font-size: 1em;
}
.designer-top span {
		font-size: 9px;
}
.designer-top p {
	display: none;
}
a.view {
	width: 36%;
}
ul.social-bottom {
	padding: 0.5em 0 0;
}
#filters li span {
	padding: 6px;
}
#filters li label {
	padding: 0.3em 0.1em;
}
.portfolio-grid {
	padding: 2em 0;
}
.simple {
	padding: 3.5em 0 0 1.3em;
}
.date-in{
	display:none;
}
.simple-out {
	padding: 1em 0 0 1.3em;
}
span.in-view {
	margin: 0.5em;
	font-size: 0.9em;
	width:42%;
}
.menu_box_list {
	margin-right: 4em;
}
}
}
